<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Фамилия</th>
                            <th scope="col">Страна</th>
                            <th scope="col">Телефон</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <button class="btn btn-primary" @click="getResults">Искать</button>
                            </th>
                            <td>
                                <input type="text" v-model="name" placeholder="Поиск по имени" />
                            </td>
                            <td>
                                <input type="text" v-model="surname" placeholder="Поиск по фамилии" />
                            </td>
                            <td>
                                <input type="text" v-model="country" placeholder="Поиск по стране" />
                            </td>
                            <td>
                                <input type="text" v-model="phone" placeholder="Поиск по телефону" />
                            </td>
                        </tr>
                        <tr v-for="tag in laravelData.data" :key="tag.id">
                            <th scope="row">{{ tag.id }}</th>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.surname }}</td>
                            <td>{{ tag.country }}</td>
                            <td>{{ tag.phone }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-body">
                    <pagination :data="laravelData" @pagination-change-page="getResults" :limit="10"></pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log("Component mounted.");
    },
    data() {
        return {
            laravelData: {},
            name: "",
            surname: "",
            country: "",
            phone: "",
        };
    },
    created() {
        this.getResults();
    },
    methods: {
        getResults(page) {
            if (typeof page === "undefined") {
                page = 1;
            }

            axios
                .post("/api/profile", {
                    page: page,
                    name: this.name,
                    surname: this.surname,
                    country: this.country,
                    phone: this.phone,
                })
                .then((data) => {
                    this.laravelData = data.data;
                });
        },
    },
};
</script>
